@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
/* Medium devices (tablets, 768px and up) */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2b7;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  font-weight: 300;
}
/* Paragraph & Typographic */
.profile-pic {
  display: none;
  height: 0;
  width: 0;
}
p {
  line-height: 28px;
}
.readmore {
  font-weight: 500;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 110%;
}
.edu-item {
  margin-bottom: 0;
  font-size: 12px;
}

.edu-year {
  font-size: 12px;
}

.centered {
  text-align: center;
}

.quote-paragraph {
  max-width: 75%;
  max-height: 50%;
  margin: auto;
  font-style: italic;
  color: #fff;
}
.visible-text {
  margin: 0, 0, 0, 3%;
}
/* Links */

a {
  color: #fff;
  word-wrap: break-word;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #19303b79;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*---------------------------------------------------
3.1 Topbar
---------------------------------------------------*/

#section-topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  font: normal 16px/24px "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

#topbar-inner {
  background: #2c3e50;
  line-height: 0;
  text-align: center;
}

/*
Top Bar

By default, top navigation bar uses "fixed" position
*/

#section-topbar ul#nav {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  border-right: 1px solid #2c3e50;
}

#section-topbar ul#nav > li {
  display: block;
  float: left;
  padding: 0;
}

#section-topbar ul#nav a {
  display: block;
  font: normal 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 18px 20px 18px 20px;
  border-left: 1px solid #2c3e50;
}

#section-topbar ul#nav a:hover {
  background: #44bbaa;
  text-decoration: none;
  border-left: 1px solid #2c3e50;
}

#section-topbar ul#nav .active a {
  background: #2f6e65;
  border-left: 1px solid #2c3e50;
}

#section-topbar i {
  font-size: 25px;
}

/*---------------------------------------------------
SECTION WRAPS
---------------------------------------------------*/

/* Header Wrap */

#headerwrap {
  background: url(../img/02.jpg) no-repeat center top;
  margin-top: 60px;
  padding-top: 140px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 300px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  font-size: 80px;
}

#headerwrap h3 {
  font-size: 20px;
}

/* Intro Wrap */

#intro {
  background: #2c3e50;
  min-height: 400px;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}

/*Skill*/

#skillswrap {
  background: #2c3e50;
  min-height: 400px;
  padding-top: 60px;
  padding-bottom: 30px;
  color: #fff;
}
.skills {
  display: inline-flex;
  flex-wrap: wrap;
}

/*Footer*/
#footer {
  padding-bottom: 20px;
  background: #2f2f2f;
  color: #fff;
  padding: 50px;
}
.socials {
  margin-left: auto;
  font: inherit;
  display: flex;
  align-items: center;
}
ul.socials {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  flex-wrap: wrap;
  padding-left: 23%;
  padding-right: 23%;
}

ul.socials li {
  display: flex;
  align-items: center;
  font-size: large;
  margin: auto;
  padding-left: 4%;
  padding-right: 4%;
}
ul.socials li a {
  margin-left: 3px;
}
ul.socials li a:hover,
a:focus {
  color: #23c8b1;
}
ul.socials li.envelope::before {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

ul.socials li.github::before {
  content: "\f09b";
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
}

ul.socials li.discord::before {
  content: "\f392";
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  color: #5865f2;
}

ul.socials li.linkedin::before {
  content: "\f0e1";
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  color: #0077b5;
}

/* Global Values */

.divider {
  border-bottom: #555;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-width: 0.5px;
  border-bottom-style: solid;
}

.desc p {
  color: #2f2f2f;
}
.desc {
  padding-top: 50px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .profile-pic {
    display: block;
    height: 200px;
    width: auto;
  }
}
@media (max-width: 767px) {
  .profile-pic {
    display: flex;
    height: auto;
    width: 30%;
    float: right;
    padding: inherit;
  }
  #about div h2,
  img {
    padding-left: 15px;
  }
}
